<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Areas/Approvals/Content/Approvals.css")" rel="stylesheet" type="text/css" />    
        <link href="@Url.Content("~/styles/kendo.silver.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Areas/Approvals/Scripts/Utilities.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/kendoui/kendo.all.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.signalR-0.5.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    
        <script type="text/javascript">

            $(document).ready(function () {
                $("#mainnav").kendoMenu();
            });

        </script>

    </head>
    
    <body>
        <div>
            <!--Main Menu-->
            <div>
                <table id="MainMenu">
                    <tr>
                        <td style="height:140px;width:600px"><img alt="Home" src="@Url.Content("~/Areas/Approvals/Images/logo.png")" /></td>
                        
                        <td>
                            <table>
                                <tr>
                                    <td id="loggedInUser" style="text-align: right">User: test</td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <ul id="mainnav">
                                            <li>
                                                My Authorizations
                                                <ul>
                                                    <li>
                                                        <div style="width:300px;background-color:white">
                                                            <table id="ApprovalsSubMenu" style="padding-left:5px;padding-top:10px;padding-bottom:10px">
                                                                <tr>
                                                                    <td>@Html.ActionLink("Ach's", "PendingAch", "Ach")</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@Html.ActionLink("Checks", "PendingChecks", "Checks")</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>@Html.ActionLink("Wires", "PendingWires", "Wires")</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>Participation Requests</li>
                                            <li>Disbursement Authorization</li>
                                            <li>User Maintain Tables</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr> 
                </table>
            </div>
            <!--/Main Menu-->
            
            <!--Header-->
            <div style="height:60px;padding-left:5px">
                <img alt="Home" src="@Url.Content("~/Areas/Approvals/Images/auth_hdr_ach.png")" />
            </div>
            <!--/Header-->
            
            <!--Side Menu-->
            <div style="height:35px;">
                <table>
                    <tr>
                        <td style="vertical-align:top;">    
                            <table>
                                <tr>
                                    <td>
                                        <div style="border-style:solid;border-width:1px;border-color:#b8b8b8;width:140px;height:400px;padding-top:10px;padding-left:10px">
                        
                                            <table id="MyApprovalsMenu">
                                                <tr>
                                                    <td id="MenuItemAchs">@Html.ActionLink("Ach's", "PendingAch", "Ach")</td>
                                                    <td id="AchCount" style="font-family:Sans-Serif;font-size:11px;font-weight:bold;color:#bf311a">(6)</td>
                                                </tr>
                                                <tr>
                                                    <td id="MenuItemChecks">@Html.ActionLink("Checks", "PendingChecks", "Checks")</td>
                                                    <td id="CheckCount" style="font-family:Sans-Serif;font-size:11px;font-weight:bold;color:#bf311a">(4)</td>
                                                </tr>
                                                <tr>
                                                    <td id="MenuItemWires">@Html.ActionLink("Wires", "PendingWires", "Wires")</td>
                                                    <td id="WireCount" style="font-family:Sans-Serif;font-size:11px;font-weight:bold;color:#bf311a">(13)</td>
                                                </tr>
                                                
                                            </table>
                        
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    
                        <td  style="vertical-align:top"> 
                            @RenderBody()
                        </td>
                    </tr>
                    
                </table>
            </div>
            <!--/Side Menu-->
            
            
            <!--Footer Menu-->
            <div class="SiteFooterMenu">
                
                <table id="FooterMenu">
                    <tr>
                        <td style="font-family:Sans-Serif;font-size:12px;color:#7c6a55">All content is Copywrite 2012 Farm Credit Service of America |</td>
                        <td><a href = "#">Privacy Statement</a>|</td>
                        <td><a href = "#">Security</a>|</td>
                        <td><a href = "#">Terms of Use</a>|</td>
                        <td><a href = "#">Contact Us</a></td>
                    </tr>
                </table>
                
                <table id="FooterMenu2">
                    <tr>
                        <td><img alt="Home" src="@Url.Content("~/Areas/Approvals/Images/equal_housing.gif")" /></td>
                        <td><a href="#">Equal Housing Lender & Equal Credit Opportunity Lender</a></td>
                        <td><a href="#">BBBOnLine Reliability Program Participant</a></td>
                    </tr>
                </table>
            </div>
           <!--/Footer Menu-->
        </div>
    </body>
</html>
