@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript">

    $(document).ready(function () {

        initalizePendingAchGrid();
       
    });
    
    function ReloadGrid() {

        $("#pendingAchGrid").data("kendoGrid").dataSource.read();
    }

    function SendPushNotification(message, type, uniqueId, approver) {

        var notification = {};

        notification.message = message;
        notification.type = type;
        notification.uniqueIds = uniqueId;
        notification.approver = approver;

        $.ajax({
            type: "GET",
            data: notification,
            async: true,
            url: 'http://192.168.1.2/TransferAuthorizationService/SendNotification'
        });
    }

    function getAchData() {

        var ach = {};

        ach.Name = $('#Name').val();
        ach.AccountNumber = $('#AccountNumber').val();
        ach.Amount = $('#Amount').val();
        ach.Notes = $('#Notes').val();
        ach.ApproverId = $('#Approver').val();
        ach.OriginatingSystem = $('#OriginatingSystem').val();
        ach.Approver = $('#Approver').val();
        ach.ID = $('#SeedValue').val();

        return ach;
    }

    function populateForm(arg) {
       
        var pendingAchGrid  = $("#pendingAchGrid").data("kendoGrid");
        var selectedItem    = pendingAchGrid.dataItem(pendingAchGrid.select());


        $('#Name').val(selectedItem.Name);
        $('#AccountNumber').val(selectedItem.Account);
        $('#Amount').val(selectedItem.Amount);
        $('#Notes').val(selectedItem.UserNotes);
        $('#OriginatingSystem').val(selectedItem.OriginatingSystem);
        $('#SeedValue').val(selectedItem.Id);
     
    }

    function initalizePendingAchGrid() {

        var approverId = $('#Approver').val();
       
        var dataSource = new kendo.data.DataSource({
            
            transport: {
                read:
                    {
                        type: 'post',
                        dataType: 'json',
                        url: '@Url.Action("GetAllPendingApprovals", "Home")'
                    }
            },
            schema: {

                model: {

                    fields: {
                        Id: { type: 'number' },
                        Name: { type: 'string' },
                        Account: { type: 'string' },
                        Amount: { type: 'number' },
                        Approver: { type: 'string' }
                    }
                }
            }
        });

        $('#pendingAchGrid').kendoGrid({

            dataSource: dataSource,
            change: populateForm,
            selectable: true,
            navigatable: true,
                
            columns: [
                { template: '<input type="checkbox" id = "#= Id #"/>', width: '30px' },
                { field: 'Name', width: 250 },
                { field: 'Account', width: 200 },
                { field: 'Amount', width: 100, template: '<div style="text-align:right">#= kendo.toString(Amount, "c")#</div>' },
                { field: 'Approver' }
                   
            ],
            height: 300,
        });
    }

   


    function ApproveAch() {
        
        var myData = {};
        var approvedIds = [];

        $('#pendingAchGrid tr').each(function () {

            var currentCheckBox = $(this).find('input:checkbox');

            if (currentCheckBox.attr("checked") == "checked") {

                myData.ID = currentCheckBox.attr('id');
                
                approvedIds.push(myData.ID);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ApproveAchTransfer")',
                    
                    data: myData,
                    success: function (id) {
 
                               
                    },

                    error: function (e) {

                                
                    }
                });
            }
        });
        
        if (approvedIds.length > 0) {
            
            SendPushNotification("An Ach Was approved", "AchAuthSilent", approvedIds.join(), $('#Approver').val());
            ReloadGrid();
            alert('ACH successfully approved');
        }
    }


    function SubmitAch() {

        var data = getAchData();

        $.ajax({
            type: "POST",
            data: data,
            async: true,
            url: '@Url.Action("AddAchTransfer")',

            success: function (id) {

                SendPushNotification("A new Ach Approval has arrived", "NewAch", id, $('#Approver').val());
                ReloadGrid();
                alert('ACH successfully submitted');
            },
             
            error: function (e) {

            }
        });
    }
    


    function UpdateAch() {

        var data = getAchData();
        
        $.ajax({
            type: "POST",
            data: data,
            async: true,
            url: '@Url.Action("UpdateAchTransfer")',

            success: function (id) {
                
                SendPushNotification("An Ach has been updated", "AchUpdate", id, $('#Approver').val());
                ReloadGrid();
                alert('ACH successfully updated');
               
            },
        });
    }
    

    function DeleteAch() {
        
        var myData = {};
        var approvedIds = [];

        $('#pendingAchGrid tr').each(function () {

            var currentCheckBox = $(this).find('input:checkbox');

            if (currentCheckBox.attr("checked") == "checked") {

                myData.ID = currentCheckBox.attr('id');

                approvedIds.push(myData.ID);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteAchTransfer")',

                    data: myData,
                    success: function (id) {


                    },

                    error: function (e) {


                    }
                });
            }
        });

       
        if (approvedIds.length > 0) {

            SendPushNotification("An Ach has been deleted", "AchDelete", approvedIds.join(), $('#Approver').val());
            ReloadGrid();
            alert('ACH successfully deleted');
        }
    }
    
   
    
    
  
</script>



<table>
    <tr>
        <td>
            <h1>ACH Setup</h1><br/><br/>
        </td>
    </tr>
    

    

    <tr>
        <td>Name</td>
        <td>
            <input type="text" id ="Name"/>
        </td>
    </tr>
    
    <tr>
        <td>Account Number</td>
        <td>
            <input type="text" id ="AccountNumber"/>
        </td>

    </tr>
    
    <tr>
        <td>Amount</td>
        <td>
            <input type="text" id ="Amount"/>
        </td>

    </tr>
    <tr>
        <td>Originating System</td>
        <td>
            <input type="text" id ="Originating System"/>
        </td>

    </tr>
        
    <tr>
        <td>Notes</td>
        <td>
            <input type="text" id ="Notes"/>
        </td>

    </tr>
    
    <tr>
        <td>Seed Value</td>
        <td>
            <input type="text" id ="SeedValue"/>
        </td>
    </tr>
    
    
    <tr>
        <td>Approver</td>
        <td>
            <select id="Approver">
                <option value="Eganc">Casey Egan</option>
                <option value="User1">User 1</option>
                <option value="User2">User 2</option>
            </select>
        </td>
    </tr>
    
    <tr>
        
        <td><br /></td>
    </tr>
    
    <tr>
        <td>
            <button id="Test" type="submit" onclick="SubmitAch();">Submit</button>
            <button id="Update" type="submit" onclick="UpdateAch();">Update</button>
            <button id="Delete" type="submit" onclick="DeleteAch();">Delete</button>
            <button id="Approve" type="submit" onclick="ApproveAch();">Approve</button>
        </td>

    </tr>
        
</table>
   


<br/><br/><br/>



<table id="pendingAchGrid" style="width:900px">
    <thead>
        <tr>
            <th style="width: 30px"><input title="selects all items" id="MultipleSelect" type="checkbox"/></th>
            <th data-field="Name">Name</th>
            <th data-field="Account">Account Number</th>
            <th data-field="Amount">Amount</th>
            <th data-field="Approver">Approver</th>
        </tr>
    </thead>
</table>


<div>
    <script type="text/javascript">
        

        var authHub = $.connection.authorizationHub;

        authHub.client.broadcastMessage = function (message) {

           // alert(message);
                      
        };
        
        $.connection.hub.start().done(function () {
            
         //   authHub.server.send('Hi Casey');
            
           
        });



    </script>
               
            </div>
